<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	
	<div id="top">
		 <%= link_to '<h1> Seat Yourself </h1>'.html_safe, restaurants_path %>

	     <p>
	      <% if current_user %>
	        Signed in as <%= current_user.first_name %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
	        <%= link_to "Manage Reservation(s)", reservations_manage_path %>
	        	<% if current_user.role == 'owner' %>
	        	<%= link_to "Manage Restaurant(s)", restaurants_manage_path %>
	        	<% end %>
	      <% else %>
	        <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
	      <% end %>
	    </p>
	</div>

	<div id="container">
<!-- <div id="leftnav">
<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
</p>
</div> -->
		<div id="rightnav">
			<p>
			</p>
		</div>
		<div id="content">
		<!-- <div id="find-restaurant-box">

		</div> -->
			<h2></h2>
			<p>
			</p>


		<%= yield %>

		</div>
	</div>

	<div id="footer">
		Hello
		<%= yield :scripts %> 
	</div>
			
</body>
</html>
