<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	
	<div id="top">

	   	<div id="signed-in-as">
	   		

	      <% if current_user %>
	        <p>Signed in as <%= current_user.first_name %>.
	        <%= link_to "Log out", session_path("current"), :method => :delete %> </p>
	      <% else %>
	         <p><%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %></p>
	      <% end %>
		</div>
	   

	    <%= link_to '<h1> Seat Yourself </h1>'.html_safe, restaurants_path %>
	</div>

	<div id="container">
<!-- <div id="leftnav">
<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
</p>
</div> -->
		<div id="content">
			<%= yield %>
		</div>
		<div id="rightnav">
				<% if current_user %>
		        	<p><%= link_to "Manage Reservations", reservations_manage_path %></p>
		        	<% if current_user.role == 'owner' %>
		        	<p><%= link_to "Manage Restaurants", restaurants_manage_path %></p>
		        	<% end %>
		      	<% else %>
		        	<%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
		      	<% end %>

		      	<%= form_tag({}, {:method => :get}) do %>
					 <% for category in Category.all %>
					    <div>
					      <%= check_box_tag "category[]", category.id %>
					      <%= category.cuisine %>
					 <%end%>
						<%= submit_tag %>
				<% end %>
		</div>
		
	</div>

	<div id="footer">
		<%= yield :scripts %> 
	</div>
			
</body>
</html>
