<h3>Make Your Reservation</h3>
<p> Make your reservation for <%= @restaurant.name %></p>
<p> Hours of operation between <%= @restaurant.open_hour %>:00 and <%= @restaurant.close_hour %>:00 </p>
<p> Seats Available in this restaurant: <%= @restaurant.seats %></p>
<br><p>What day and time would you like to come in?</p>

<%= form_for [@restaurant, @reservation] do |f|%>

	 <% if @reservation.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @reservation.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= f.label :reservation_date %>
		<%= f.datetime_select(:reservation_date , :minute_step => 30) %>
	</p>

	<p> 
		<%= f.label "Seats"%> <%= f.text_field :partySize %> 
	</p>
		
	<p><%= f.submit :onclick => "return confirm ('Are you sure you want to create this reservation?')"%></p>

<% end %>