

<div id="find-restaurant-box">

	<h1>Find a Restaurant</h1>

	<div class="outer-search-form">
	<%= form_tag restaurants_path, :method => 'get', :class => 'search-form' do %>
	  	<p>
	    <%= text_field_tag :search, params[:search] %>
		</p>
		<p>
	    <%= submit_tag "Search", :name => nil %>
	  	</p>
	<% end %>


	<%#= form_tag restaurants_path, :method => 'get', :class => 'search-form' do %>
	  	<p>
	    <%#= text_field_tag :search, params[:search] %>
		</p>
		<p>
	    <%#= submit_tag "Search", :addr => nil %>
	  	</p>
	<%# end %>

	</div>



</div>



	<ul>
	<div class="restaurant-row">
		<% @restaurants.each do |restaurant| %>
		<p><p><%= link_to restaurant[:name], restaurant %> </p>
			<p>Address: <%= restaurant[:addr] %></p> 
			<p>Phone: <%= restaurant[:phone] %></p>
			<% restaurant.categories.each do |category| %>
				<p><%= category.cuisine %></p>
			<% end %>
			<p><%= image_tag(restaurant[:picture], class: "restaurant_icon") %> 
		</p>
		<% end %>
	</div>
	</ul>


	

