

	

	<div class="outer-search-form">
		<div class="red-text">Find a Restaurant</div>
	<%= form_tag restaurants_path, :method => 'get', :class => 'search-form' do %>
	  	<p>
	    <%= text_field_tag :search, params[:search] %>
		</p>
		<p>
	    <%= submit_tag "Search", :name => nil %>
	  	</p>
	<% end %>
	</div>




<ul>
<li class="restaurant-row">
	<% @restaurants.each do |restaurant| %>
		<%= image_tag(restaurant[:picture], class: "restaurant_icon") %> 
		<p><h3><%= link_to restaurant[:name], restaurant %> </h3>
		<p>Address: <%= restaurant[:addr] %></p> 
		<p>Phone: <%= restaurant[:phone] %></p>
		<% restaurant.categories.each do |category| %>
			<p><%= category.cuisine %></p>
		<% end %>
		
	<% end %>
	</li>
</ul>

<%= form_tag({}, {:method => :get}) do %>
	<!-- <div id="rightnav"> -->
	 <% for category in Category.all %>
	    <div>
	      <%= check_box_tag "category[]", category.id %>
	      <%= category.cuisine %>
	 <%end%>
	<!-- </div>
 -->	<%= submit_tag %>
<% end %>

