<ul>
<p>	<h1><%= @restaurant[:name] %> </h1>
	<p>Address: <%= @restaurant[:addr] %></p> 
	<p>Phone: <%= @restaurant[:phone] %> </p>
	<p><%= image_tag(@restaurant[:picture]) %> </p>
</p>
</ul>

<p>Make a reservation</p>
<%= link_to "Make a reservation", new_restaurant_reservation_url(@restaurant.id) %>
