<ul>
<p>	<h1><%= @restaurant[:name] %> </h1>
	<p>Address: <%= @restaurant[:addr] %></p> 
	<p>Phone: <%= @restaurant[:phone] %> </p>
	<p><%= image_tag(@restaurant[:picture]) %> </p>
</p>
</ul>

<p><%= gmaps({
  "map_options" => {"auto_adjust" => true, "auto_zoom" => false, "zoom" => 15 },
  "markers"     => {"data" => @json }
 }) %></p>

<p>Make a reservation</p>
<%= link_to "Make a reservation", new_restaurant_reservation_url(@restaurant.id) %>

 <!-- Giving edit privelages to owners of that restaurant only -->
<% user_isowner = false %>
<% for i in 0..current_user.restaurants.size-1 %>
	<% if current_user.restaurants[i].name == @restaurant.name %>
		<% user_isowner = true %>
	<% end %>
<% end %>

<% if user_isowner %>
	<p> Current Reservations for your Restaurant: </p>
	<ul>
	<% @restaurant.reservations.each do |reservation| %>
		<li> Reservation on <%= reservation[:reservation_date] %> for a party of <%= reservation[:partySize] %></li>
	<% end %>
	</ul>
	<p> <%= link_to "Edit Restaurant", edit_restaurant_path %> </p>
	<%= link_to "Delete", @restaurant, :confirm => "Are you sure you want to delete this restaurant?", :method => :delete %>
<% end %>

